$color-primary: #120078;
$color-secondary: #21209c; //
$color-summary: #0a043c;
$color-footer: #153263;
$color-tertiary: #00a1a7;
$color-fourth: #04c2c9;
$color-white-text: #f1f6f9;
$color-grey-text: #eee;
$color-orange-1: #fd7e14;
$color-orange-2: #fc8621;
$color-orange-3: #c24914;
$color-black: black;
$color-dark-black: #333;
$color-light-black: #534e52;
$color-btn-1: #7579e7;
$color-btn-2: #9ab3f5;
$color-background: #f1f6f9;
$color-quote: #e8e8e8;
$color-span-1: #fc8621;
$color-span-2: #fdb827;
$color-span-3: #61b15a;
$color-heading-secondary: #2a3353;
$color-heading-dark: #133b5c;
$color-heading-light: #68b0ab;
$color-red: #fa7f72;
// $color-summary: #163a24;
