.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__shape {
    height: 12rem;
    width: 15rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: $color-fourth;
  }

  &__text {
  }

  &__icon {
    font-size: 5rem;
    color: white;
  }
}

.statistics__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__inner {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__label {
    text-align: center;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    width: 12rem !important;
    background-color: $color-fourth;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    padding-right: 0 !important;
  }

  &__stat {
    background-color: $color-tertiary;
    &-1 {
      width: 80%;
    }
    &-2 {
      width: 80%;
    }
    &-3 {
      width: 70%;
    }
    &-4 {
      width: 70%;
    }
    &-5 {
      width: 65%;
    }
    &-6 {
      width: 60%;
    }
    &-7 {
      width: 65%;
    }
    &-8 {
      width: 70%;
    }
    &-9 {
      width: 50%;
    }
    &-10 {
      width: 40%;
    }
  }

  &__percent {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-grey-text;
    padding: 0 1.5rem;
    &-1 {
      width: 10%;
    }
    &-2 {
      width: 10%;
    }
    &-3 {
      width: 20%;
    }
    &-4 {
      width: 20%;
    }
    &-5 {
      width: 25%;
    }
    &-6 {
      width: 30%;
    }
    &-7 {
      width: 25%;
    }
    &-8 {
      width: 20%;
    }
    &-9 {
      width: 40%;
    }
    &-10 {
      width: 50%;
    }
  }
}

.frame {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 50rem;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  &__vektor {
    height: 100%;
  }
}

.parent__container {
  position: relative;
  z-index: 20;
}

.statistics__image {
  position: relative;
  z-index: 20;
}

.statistics__shadow {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: 10;
}

#statistics-shadow {
  animation: cloud 10s linear infinite;
  transform-origin: center;
  //transform-box: fill-box;
}

@keyframes cloud {
  0% {
    transform: rotateZ(-5deg);
  }

  50% {
    transform: rotateZ(5deg);
  }

  100% {
    transform: rotateZ(-5deg);
  }
}
