.btn__large {
  &:focus {
    outline: none;
  }

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 3rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-btn-1, 0.8),
      rgba($color-btn-2, 0.8)
    );
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }
}

.btn {
  &__hero {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    border-radius: 100px;
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    font-size: 3rem;
    color: white;
    border: none;
    position: relative;

    cursor: pointer;
    background-image: linear-gradient(
      to right,
      $color-secondary,
      $color-fourth
    );

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    &:hover &__invisible {
      top: 0;
    }

    &:hover &__visible {
      transform: translateY(200%);
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        $color-secondary,
        $color-fourth
      );
    }

    &:focus {
      outline: none;
    }

    &__visible {
      padding: 5rem 6rem;
    }

    &__invisible {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 5rem 0;
    }
  }
}

.btn {
  &__popup {
    width: 60%;
    background-image: linear-gradient(to left, $color-secondary, $color-fourth);
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: #ded7b1;
    font-size: 1.5rem;
    &:focus {
      outline: none;
    }

    &:hover {
      background-image: linear-gradient(
        to right,
        $color-secondary,
        $color-fourth
      );
    }
  }
}
